<div class="x">
  <div class="row">
    <div class="col-md-6">
      <div class="listed-box">
        <h3 class="header-uprofile">Your Listed Items</h3>
        <div class="text-center">
          <%= link_to "New Rental", new_item_path, class: "btn btn-primary-show" %>
        </div>
        <% @items.each do |item| %>
          <div class="d-flex mb-3">
            <div class="d-flex flex-column justify-content-center">

            <div class="card-product">
        <%= cl_image_tag item.photo.key, html: { class: "card-product img" } %>
    <div class="card-product-infos">
      <h2 class="card-product-h2"><%= item.brand %></h2>
      <p><%= item.description %></p>
      <p class="ml-3" style="display: flex; justify-content: space-between">
      <%= link_to "Edit", edit_item_path(item), class: "custom-link", style: "margin-right: 30px;" %>
      <%= link_to "Delete", item_path(item), class: "custom-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
</div>
</div>

            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="col-md-6">
      <div class="listed-box">
        <h3 class="header-uprofile-right">Your Rented Selection</h3>
        <% @bookings.each do |booking| %>
        <div class="d-flex mb-3">
        <div class="d-flex flex-column justify-content-center">
         <div class="card-product">
  <%= cl_image_tag booking.item.photo.key, html: { class: "card-product img" } %>
  <div class="card-product-infos">
    <h2 class="card-product-h2"><%= booking.item.brand %></h2>
    <%# <p><%= booking.item.name </p>%>
    <%# <p><%= booking.item.category </p>%>
    <p><%= booking.from %> - <%= booking.to %></p>
    <p>Total price: <%= booking.rental_duration * booking.item.price %></p>
    <%= link_to "Delete", booking_path(booking), class: "custom-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
    </div>
</div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
