
<div class="py-0">
<div class="px-5" style="background-repeat: no-repeat; background-size: cover; background-position: center center; height: 500px; background-image: url('https://res.cloudinary.com/ddicha2gs/image/upload/v1692848961/Women_Fashion_Bag_5_gyvija.jpg');">
  <div style="padding-top: 120px; padding-left: 60px;">
    <h1>Woman fasion Bags & Belts</h1>
    <p style="padding-top: 30px; margin-bottom; 5px;">The world’s largest bags&belts borrowplace</p>
    <p>Style Sharing Community: Borrow Bags and Belts with Confidence!</p>
    <%= link_to "Start now!", profile_path, class: "btn start-btn" %>
  </div>
</div>


<div class="search-container" style="padding-top: 35px;">
  <div class="border border-light">
    <%= form_with url: items_path, method: :get, class: "d-flex", style: "width: 700px;" do %>
      <%= text_field_tag :query, params[:query], class: "search-field", placeholder: "search"%>
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>

    <% end %>
  </div>
</div>

<div class="horizontal-list-container">
  <ul class="horizontal-list">
    <li>
      <%= link_to  "Bag", root_path(category: "bag"), class:"h3 #{params[:category] == 'bag' ? 'active' : ''}" %>
    </li>
    <li>
      <%= link_to  "Belt", root_path(category: "belt"), class:"h3 #{params[:category] == 'belt' ? 'active' :''}"  %>
    </li>
  </ul>
</div>

<%# <div class="horizontal-list-container">
  <ul class="horizontal-list">
    <li>
    <%= form_with(url: root_path, method: "get") do |f| %>
      <%# <%= f.select :brands, options_for_select([["Brand", ""]].concat(Item::BRANDS)), {}, { class: "filter", data: { controller: "tom-select" } } %>
    <%# <% end %>
    <%# </li>
    <%# <li> %>
      <%# <%= form_with(url: root_path, method: "get") do |f| %>
      <%# <%= f.select :dropdown_field, color: Item::COLORS %>
      <%# <% end %>
    <%# </li>
    <li>
       <%= form_with(url: root_path, method: "get") do |f| %>
      <%# <%= f.select :dropdown_field, size: Item::SIZE %>
      <%# <% end %>
    <%# </li> %>
    <%# <li> %>
      <%# Price
    </li>
  </ul>
</div> %>


<div id="items" class="grid" style="padding: 60px;">
  <% if @items.any? %>
    <% @items.each do |item| %>
      <div class="product-cards-container">
        <div class="product-card">
          <div class="card-image">
            <%= cl_image_tag item.photo.key, width: 298, height: 300, crop: :auto %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= item.brand %></h5>
            <div class="d-flex">
              <p class="p-text"><%= item.price %>$/day</p>
              <%= link_to "Rent", item_path(item), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <% else %>
    <em>Sorry, no items found.</em>
  <% end %>
</div>
