<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <i class="fa-solid fa-bars" style="color: #000000;"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <span class="navbar-text"  style="padding-left: 40px;" >
        Log in / sign up
      </span>
    </div>
  </div>
</nav>

<h1>Borrow Bags and Belts</h1>
<p>The world’s largest bags&belts marketplace</p>
<%= cl_image_tag("Screenshot_2023-08-22_at_12.27.41_fpp3uj") %>



<div>
  <form action="<%= root_path %>" method="get" class="d-flex" role="search">
    <input class="form-control me-2" name="search" type="search" id="search" placeholder="Search" aria-label="Search">
    <ul id="results">
    </ul>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div>
  <ul>
    <li>
      Bags
    </li>
    <li>
      Belts
    </li>
  </ul>
</div>

<div>
  <ul>
    <li>
      <div class="input-group">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Brand</option>
    <option value="1">Gucci</option>
    <option value="2">LW</option>
    <option value="3">Prada</option>
  </select>
</div>
    </li>
    <li>
      <div class="input-group">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Color</option>
    <option value="1">Black</option>
    <option value="2">Brown</option>
    <option value="3">White</option>
  </select>
</div>
    </li>
    <li>
      <div class="input-group">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Size</option>
    <option value="1">Small</option>
    <option value="2">Medium</option>
    <option value="3">Large</option>
  </select>
</div>
    </li>
    <li>
      <div>

    <p>price</p>
    <input type="range" id="priceRange" min="5" max="100" step="1" value="5" oninput="updatePrice(this.value)">
    <span id="price"> $5 </span>
  </select>
</div>
    </li>
  </ul>
</div>


  <div class="card" style="width: 18rem;">
  <% @items.each do |item| %>
  <img <%= cl_image_tag item.photo.key %>
  <div class="card-body">
    <h5 class="card-title"><%= item.brand %></h5>
    <a href="#" class="btn btn-primary"><%= item.description %></a>
  </div>
  <% end %>
</div>
