<h1 class="header2">Add new Booking For <%= @item.name %></h1>

<div style="display: flex;justify-content: space-evenly">
<div style= "width:410px; margin: 30px; padding:30px;">
<%= cl_image_tag("zara_fabric_shopper_fimwzh", width: 350, height: 410, crop: :auto) %>
</div>



<div class="list-container2">
  <ul class="custom-list2">
    <li>Brand</li>
    <li>Size</li>
    <li>Color</li>
    <li>Availability</li>
    <li> <br> </li>
    <li>Description</li>
    <li style="color: black;"><%= @item.description %></li>
  </ul>
</div>

<div class="list-container2">
  <ul class="custom-list2">
    <li style="color: black;"><%= @item.brand %></li>
    <li style="color: black;"><%= @item.size %></li>
    <li style="color: black;"><%= @item.color %></li>
    <li style="color: black;"><%= @item.availability %></li>
  </ul>
</div>

 <div style= "width:310px; margin: 80px; padding:30px;" data-controller="sweetalert2">
    <%= render "bookings/form", item: @item, booking: @booking %>
  </div>


</div>
